<app-sidebar></app-sidebar>
<input  type="file"  (change)="excelToJson($event)" id='upload' title="Upload">

<div  style="width: 80%"  *ngIf="excelData">
    <dx-data-grid id="gridMultiInputList"  [columns]="headerArray" 
    [allowColumnResizing]="true" noDataText="" 
    [sorting]='{mode: "none"}' [dataSource]="excelData"  
    [showBorders]="true" [showColumnLines]="true" (onContentReady)="_onContentReady($event)" >
    <dxo-selection [selectAllMode]="allMode"
            [showCheckBoxesMode]="checkBoxesMode"
            mode="multiple"></dxo-selection>
            <dxo-filter-row
            [visible]="false"
        ></dxo-filter-row>
      <dxo-scrolling mode="infinite"></dxo-scrolling>
      <div *dxTemplate="let data of 'cellTemplate'">
        {{data.rowIndex+1}}
      </div>
    </dx-data-grid>
  </div>
  