<app-sidebar></app-sidebar>



<div style="width: 81%;;float:right">
    <input type="file" (change)="excelToJson($event)" id='purchase' title="purchase">
    <dx-data-grid id="gridpurchase" [columns]="headerPurchase" [allowColumnResizing]="true" noDataText="" [dataSource]="dataSourcePurchase"
        [width]=1050 [showBorders]="true" [showColumnLines]="true">
        <dxo-paging [pageSize]="3"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
        </dxo-pager>
        <div *dxTemplate="let data1 of 'cellTemplate1'">
            {{data1.rowIndex+1}}
        </div>
        <!-- <div *dxTemplate="let employee of 'detail'">
        <div class="master-detail-caption"></div>
        <dx-data-grid [dataSource]="fileuploadcolumn" [showBorders]="true" [columnAutoWidth]="true" [columns]="employee.Upload">
          <div *dxTemplate="let data of 'cellTemplate'">
            <a class="dx-link" (click)="onLinkClick($event, data.rowIndex, data.key, data.component)">
              {{ data.component.pageIndex() * data.component.pageSize() + data.rowIndex + 1 }}
            </a>
          </div>
        </dx-data-grid>
      </div> -->
    </dx-data-grid>
</div>
<!-- (onContentReady)="_onContentReady($event)" (onSelectionChanged)="selectionChanged($event)" -->