
<app-sidebar></app-sidebar>

<!-- <button (click)="registration()" >Are You not Rgistered !! Click Here</button> -->
<div style="width: 80%;float: right;">
<!-- <div class="row"> -->
  <div class="col-sm-12 text-center">
      <button id="btnSales" class="btn btn-primary btn-md center-block"  (click)="sales()" >button</button>
       <button id="btnPurchase" class="btn btn-primary btn-md center-block"  (click)="purchase()" >button</button>
       <br>
       <button id="btnPayment" class="btn btn-primary btn-md center-block" (click)="payment()" >button</button>
       <button id="btnPurchase" class="btn btn-primary btn-md center-block"  (click)="purchase()" >button</button>
   </div>
<!-- </div> -->
</div>