#btnSales,
#btnPurchase,
#btnPayment,
#btnCollection{
    display: inline-block;
    margin-top: 27px;
    vertical-align: top;
    width: 247px;
    /* margin-left: 108px; */
    height: 95px
}
#btnSales,
#btnPayment{
    float: left; 
}
.container{
    padding:0px!important
}

.top-center{
    top: 84px;
    right: 0;
    width: 100%;
    background-color: aquamarine
}

