
<!-- <input  type="file"  (change)="excelToJson($event)" id='upload'> -->


<!-- main app container -->
<!-- <div class="jumbotron"> -->
    <div class="container" style="padding-top: 10%;">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3>Login Form</h3>
                <form name="form"   (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" name="userId"   [(ngModel)]="model.userId" #userId="ngModel" [ngClass]="{ 'is-invalid': f.submitted && userId.invalid }" required />
                        <div *ngIf="f.submitted && userId.invalid" class="invalid-feedback">
                            <div *ngIf="userId?.errors.required">UserId is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6" />
                        <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                            <div *ngIf="password?.errors.required">Password is required</div>
                            <div *ngIf="password?.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" [disabled]="!f.valid">Login</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
<!-- </div> -->
  